@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Bangers&family=Permanent+Marker&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* google fonts */


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.font-secondary {
  font-family: "Amaranth";
}

#logo {
  font-family: "Bangers";
  font-weight: 400;
  font-style: normal;

}

@custom-variant dark (&:where(.dark, .dark *));